<h1>Run Your Version of Becca</h1>
<p>
  The next step is to invite your instance of Becca to your server. You can use
  the Discord Developer portal to generate an invitation link, or you can use
  the Client ID from your Becca's application page to create a link yourself. If
  you wish to manually create the link, the format is:
</p>
<p>
  <code
    >https://discord.com/oauth2/authorize?client_id=CLIENT_ID_HERE&scope=bot</code
  >
</p>
<p>
  Regardless of which method you choose, the link will open a new window
  allowing you to choose which server you'd like to add Becca to.
</p>
<p>
  Once you have added her to your server, switch back to your terminal and
  run the command <code>npm start</code>. If you have set the
  <code>WH_ID</code> and <code>WH_TOKEN</code> in your environment
  appropriately, Becca should send a message indicating it is online.
  Otherwise, you should see the text <code>Activate the Omega!</code> in your
  terminal, indicating she is online! Now you can try some of the commands
  to see if she is functioning correctly.
</p>
<h2>Host a Live Version of Becca</h2>
<p>
  By now you should have a successfully running local instance of Becca.
  Keeping this alive means you cannot shut down your computer. As an
  alternative, you might want to use a hosting service to run your live instance. We use Heroku for our version, but there are other options. Be sure
  to read the documentation for your chosen platform! Heroku, for example, uses
  a separate setting for the token instead of a <code>.env</code> file.
</p>
<p>
  If you would like to add Becca to your server, you are welcome to
  <a
    href="https://discord.com/oauth2/authorize?client_id=716707753090875473&scope=bot&permissions=268495990"
    target="_blank"
    rel="noopener noreferrer"
    >invite her to your server</a
  >.
</p>
<a class="page-btn" routerLink="/setup">Prev Page</a>
<a class="page-btn" routerLink="/config">Next Page</a>
