@charset "UTF-8";
* {
  scroll-behavior: smooth;
}

main p {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.999); 
  color: #aea8d3;
}

body::before {
  content: "";
  background: url(Moonlight.png);
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;   
}

nav {
  width: 15vw;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 5px solid #aea8d3;
  height: 100vh;
  word-wrap: break-word;
}

nav p,
nav h1 {
  margin-left: 10px;
}

nav a {
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}

nav a:hover {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

main {
  margin-left: 16vw;
  margin-right: 50px;
  padding-left: 20px;
}

hr {
  color: #aea8d3;
}

code {
  background-color: #000000;
  padding: 2px 3px;
  border-radius: 5px;
}

pre {
  background-color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  padding-left: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

pre code {
  padding-left: 0;
}

a {
  color: inherit;
}

main section a:not(.section-anchor) {
  position: relative;
  font-weight: bold;
}

main section a:not(.section-anchor)::after {
  content: "";
  position: absolute;
  width: 104%;
  height: 2px;
  background-color: #aea8d3;
  opacity: 75%;
  right: -2%;
  bottom: 0;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  z-index: -1;
  border-radius: 2px;
}

main section a:not(.section-anchor):hover {
  color: black;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

main section a:not(.section-anchor):hover::after {
  height: 100%;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
}

ul {
  list-style-type: "🙃 ";
}

li {
  margin-bottom: 0.2em;
}

@media (orientation: portrait) {
  nav {
    display: none;
  }
  main {
    margin-left: 25px;
  }
}

h1:hover .section-anchor::after {
  opacity: 50%;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

h2:hover .section-anchor::after {
  opacity: 50%;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.section-anchor {
  z-index: 5;
  margin-left: -17.58px;
}

.section-anchor:hover::after {
  opacity: 100% !important;
}

.section-anchor::after {
  content: "# ";
  opacity: 0;
  position: relative;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.trouble-container {
  margin-left: 50px;
}

.trouble-container h2 {
  font-size: 1.45em;
}