<h1>Becca's Art!</h1>
<h2>Comissioned Art</h2>
<p>These art works were comissioned from an artist specifically for Becca.</p>
<div class="grid-container">
  <div class="grid-box" *ngFor="let art of comissionedList">
    <a href="../../assets/img/art/{{ art.fileName }}" target="_blank"
      ><img
        class="grid-image art-image"
        src="../../assets/img/art/{{ art.fileName }}"
    /></a>
    <hr />
    <p>
      <em class="art-name">{{ art.artName }}</em> by
      <a
        href="{{ art.artistUrl }}"
        target="_blank"
        rel="noopener noreferrer"
        class="artist-link"
        >{{ art.artist }}</a
      >
    </p>
  </div>
</div>
<h2>Generated Art</h2>
<p>These art works were created using online avatar apps such as Picrew.</p>
<div class="grid-container">
  <div class="grid-box" *ngFor="let art of generatedList">
    <a href="../../assets/img/art/{{ art.fileName }}" target="_blank"
      ><img
        class="grid-image art-image"
        src="../../assets/img/art/{{ art.fileName }}"
    /></a>
    <hr />
    <p>
      <em class="art-name">{{ art.artName }}</em> by
      <a
        href="{{ art.artistUrl }}"
        target="_blank"
        rel="noopener noreferrer"
        class="artist-link"
        >{{ art.artist }}</a
      >
    </p>
  </div>
</div>
