<h1>How to create new commands</h1>
<h2>Structure</h2>
<p>
  Every command uses the <code>CommandInt</code> interface on which you can find
  these properties:
</p>
<ul>
  <li>
    <code>name</code> - This property is used to set the name of the command.
  </li>
  <li>
    <code>description</code> - This property is used to set the description of
    the command, or describe what the command will do when its called. This will
    show in the <code>help</code> command.
  </li>
  <li>
    <code>parameters</code> - (Optional) - This property is used to define the
    available parameters of the command. This will show in the <code>help</code>
    command. To define an optional parameter use
    <code>&lt;?name-of-parameter&gt;</code>, or use
    <code>&lt;name-of-parameter&gt;</code> if the parameter is required. When a
    parameter has specific values use
    <code>&lt;action (action-1/action-2)&gt;</code>.
  </li>
  <li>
    <code>run</code> - This property is the action the command takes. In this
    you set what the command will do when called.
  </li>
</ul>
<h2>Creating a message repeater command</h2>
<ul>
  <li>
    First, go to <code>./src/commands/general/</code> and create a new file
    called <code>messageRepeater.ts</code> or as you wish.
  </li>
  <li>
    Then, add the basic structure of our command. Note that all commands should
    be wrapped in a try/catch block:
    <pre><code style="white-space: pre-wrap;">
      import CommandInt from "@Interfaces/CommandInt";
      const messageRepeater: CommandInt = {{'{'}}
        name: "messageRepeater",
        description: "Send a message to the current channel using Becca.",
        parameters: ["&lt;message&gt;: Message to send."],
        run: async (message) => {{'{'}}
          try {{'{'}}
            console.log("Message repeater command called!");
          {{'}'}} catch (error) {{'{'}}
            console.log(`${{'{'}}message.guild?.name{{'}'}} encountered the following error with the messageRepeater command:`);
            console.log(error);
            await message.reply('I am so sorry, but I cannot do that right now.')
          {{'}'}}
        {{'}'}},
      {{'}'}};
      export default messageRepeater;
    </code></pre>
    Save the file, start Becca (You can use
    <code>npm run dev</code> instead of
    <code>npm run build && npm start</code>), then in the chat write
    <code>{{ "{" }}prefix{{ "}" }}messageRepeater</code> and in the console you
    will see <code>Message repeater command called!</code>.
  </li>
  <li>
    So, to this moment you have created a simple command that shows you a
    message in the console, but it does not do what we want. First, replace the
    <code>console.log</code> line with
    <code>const {{ "{" }} channel, commandArguments {{ "}" }} = message;</code>.
    With this you will get the arguments of the command, or the content of the
    message split by whitespaces and ignoring the first element (The first
    element is the command name), and the channel of the message. Now, add
    <code>const msg = commandArguments.join(" ");</code> to join the arguments
    with whitespaces to get the parameter that we require (Message).
  </li>
  <li>
    After you get the message, you need to send it back to the current channel.
    To do this, add this line:
    <code>await channel.send(msg);</code>. Now you can test the command! If you
    write <code>{{ "{" }}prefix{{ "}" }}messageRepeater Hello</code> in the
    channel, Becca will send <code>Hello</code> back to the current channel.
    But what will happen if you send
    <code>{{ "{" }}prefix{{ "}" }}messageRepeater</code>? You will get an error
    in the console because Becca cannot send an empty message. So how do you
    fix it? You need to verify the command arguments have a length before
    sending the message. Add these lines below before the
    <code>await channel.send(msg);</code>:
    <pre><code style="white-space: pre-wrap;">
      if (!msg.length) {{'{'}}
        await message.reply('Sorry, but you must enter a valid message.');
        return;
      {{'}'}}
    </code></pre>
    Now when you call the command with an empty message Becca will respond
    with a message saying you need to enter a message.
  </li>
  <li>
    Congratulations! You have written your first command for Becca. We hope
    you are motivated to contribute to the project with more commands or fixes.
  </li>
</ul>
<a class="page-btn" routerLink="/contribute">Prev Page</a>
<a class="page-btn" routerLink="/trouble">Next Page</a>
