<h2>Manual Commands</h2>
<p>
  These commands are run manually by sending the prefix and the associated
  command keyword (listed below) and arguments.
</p>
<ul>
  <li>
    <code>about</code> - This command generates an embed message that provides a
    link to the bot source code, the date the bot was created, the number of
    commands the bot can perform, and the bot's favourite colour. The embed is
    sent to the channel the command message came from.
  </li>
  <li>
    <code>adventure [action (start/move)] [?room] [?direction]</code> - This
    command will generate a text based adventure dungeon. To begin a new
    dungeon, pass <code>start</code> as the [action]. The dungeon take you room
    by room, with each room having a [room] id value and directions to move.
    Move to the next room by passing <code>move</code> as the [action], the
    [room] id provided, and the cardinal [direction] you want to move. Each room
    embed includes a prefilled move command to copy-paste.
  </li>
  <li>
    <code>art</code> - This command returns an embed containing a Becca art!
    Many thanks to our wonderful artist contributors.
  </li>
  <li>
    <code>ban [@username] [?reason]</code> - This command requires that the user
    sending it has the "Ban Members" permission. If the permission is missing,
    the bot responds with a notice that the user lacks permission. Otherwise,
    the command bans [@username] from the server. If the
    <code>becca!config set channel logs [#channel]</code> option is set, the bot
    will send an embed to that channel. The embed will contain the name of the
    user performing the ban, the name of the banned user, and the reason
    provided. If no reason was provided, the embed will state that. Because of
    the permanent nature of bans, the bot will require confirmation before
    taking action.
  </li>
  <li>
    <code>bugreport</code> - This command returns an embed containing a link to
    the GitHub issue selection page.
  </li>
  <li>
    <code>cat</code> - This command sends a random string of letters of a random
    length, to simulate a cat walking across your keyboard.
  </li>
  <li>
    <code>challenge [action (start/request/solve)] [?id] [?answer]</code>
    - This command walks the user through a series of programming based
    challenge questions. To begin a new challenge, pass
    <code>start</code> as the [action]. The bot will return a challenge embed,
    which includes the question and challenge id. To solve the challenge, pass
    <code>solve</code> as the [action], with the challenge [id] and the
    [answer]. The bot will respond with either correct or incorrect, and an
    explanation. If correct, the bot provides the [id] for the next challenge.
    To get that challenge, pass <code>request</code> as the [action] with the
    new [id].
  </li>
  <li>
    <code>close</code> - This command requires the user to have the "Kick
    Members" permission. If the permission is missing, the bot responds with a
    notice that the user lacks permission to use this command. Otherwise, the
    bot deletes the channel this command is used in, and logs the deletion to
    the <code>becca!config set channel logs [#channel]</code> option.
  </li>
  <li>
    <code>compliment</code> - Provides a little compliment to cheer you up.
    Compliments obtained from freeCodeCamp.
  </li>
  <li>
    <code>config [?set] [?key] [?value]</code> - This command lists the current
    bot configuration, for logging channels etc. For setting these values,
    please view the
    <a href="#configure-your-bot">Configure Your Bot</a> section. This command
    is locked to moderators with the <code>Manage Server</code> permission. The
    Discord user associated with the <code>process.env.OWNER_ID</code> can
    access this command regardless of permissions, but should only do so for the
    sake of development purposes.
  </li>
  <li>
    <code>contributors</code> - This command returns an embed with a list of
    recongised contributors to the bot code. Thank you all for your efforts to
    make Becca Lyria great!
  </li>
  <li>
    <code>dnd</code> - This command generates an embed containing the currently
    available Dungeons and Dragons commands.
  </li>
  <li>
    <code>dndclass [class]</code> - This command generates an embed containing
    information about the Dungeons and Dragons [class].
  </li>
  <li>
    <code>dndmon [monster]</code> - This command generates an embed containing
    information about the Dungeons and Dragons [monster].
  </li>
  <li>
    <code>dndrace [race]</code> - This command generates an embed containing
    information about the Dungeons and Dragons [race].
  </li>
  <li>
    <code>dndschool [school]</code> - This command generates an embed containing
    information about the Dungeons and Dragons [school] of magic.
  </li>
  <li>
    <code>dndspell [spell]</code> - This command generates an embed containing
    information about the Dungeons and Dragons [spell].
  </li>
  <li>
    <code>fact</code> - This command generates an embed containing a fun fact!
  </li>
  <li>
    <code>fortune</code> - This command will send a message to the channel the
    command came from. The message will contain a random fortune cookie quote
    from the list provided in the bot code.
  </li>
  <li>
    <code>github [user]</code> - This command returns an embed containing
    profile information for the provided GitHub [user].
  </li>
  <li>
    <code>guess</code> - This command starts a game of Guess the Number. The bot
    will generate a number between 1 and 1000. Players have ten seconds to
    submit guesses, then the bot will announce the winner based on the closest
    guess.
  </li>
  <li>
    <code>habitica [id]</code> - This command returns an embed containing
    profile information for the provided Habitica user. [id] is the userID,
    *not* the user name.
  </li>
  <li>
    <code>help [?command]</code> - This command returns an embed containing a
    list of available commands. If the optional [command] parameter is passed,
    the bot will return the description for that command (or an error, if that
    command does not exist).
  </li>
  <li>
    <code>hpchar [name]</code> - This command returns an embed containing
    information on the [name] Harry Potter character.
  </li>
  <li>
    <code>hpsort</code> - This command randomly sorts you into a Hogwarts house
    and returns an embed containing information on that house.
  </li>
  <li>
    <code>hpspell [name]</code> - This command returns an embed containing
    information on the [name] Harry Potter spell. Alternatively, pass "random"
    as the value for [name] to get a random spell.
  </li>
  <li>
    <code>http [status]</code> - This command accesses the HTTP Cat API and
    returns a cat photo for the given [status].
  </li>
  <li>
    <code>invite</code> - This command returns an embed containing the
    invitation of the bot.
  </li>
  <li>
    <code>jobs [?location]</code> - This command generates a LinkedIn job search
    URL - the optional [location] parameter narrows down the search by the given
    location.
  </li>
  <li><code>joke</code> - This command tells you a silly joke!</li>
  <li>
    <code>kick [@username] [?reason]</code> - This command requires that the
    user sending it has the "Kick Members" permission. If the permission is
    missing, the bot responds with a notice that the user lacks permission.
    Otherwise, the command kicks [@username] from the server. If the
    <code>becca!config set channel logs [#channel]</code> option is set, the bot
    will send an embed to that channel. The embed will contain the name of the
    user performing the kick, the name of the kicked user, and the reason
    provided. If no reason was provided, the embed will state that.
  </li>
  <li>
    <code>kirby</code> - This command sends a message to the channel the command
    came from. The message contains Kirby doing a little dance.
  </li>
  <li>
    <code>leave [server]</code> - This command has a hard-coded restriction to
    only respond to my account (if you configure your own instance, you can
    change this). Pass a server ID value for <code>server</code>, and the bot
    will leave that server. This command is locked to the Discord user
    associated with the <code>process.env.OWNER_ID</code> value.
  </li>
  <li>
    <code>level [?user]</code> - This command sends an embed containing the
    [user]'s experience points and current level. If no parameter is passed, it
    will return the message author's level.
  </li>
  <li>
    <code>list</code> - This command returns embed(s) containing a list of the
    servers the bot is in, and the owner information for each server.
  </li>
  <li>
    <code>listeners</code> - This command returns an embed containing
    information on the various <code>listener</code> type features the bot
    offers.
  </li>
  <li>
    <code>magic [cardname]</code> - This command querys the Magic: The Gathering
    API for cards that match [cardname]. The bot will send a message to the
    channel the message contains to confirm the command was received and the
    search was started. For each card it finds, the bot sends an embed
    containing the card information. The bot sends a notification after 30
    seconds, when the search is complete. NOTE: The API can be slow to respond
    so this command may take some time.
  </li>
  <li>
    <code>maths [problem]</code> - This command takes the [problem] and
    evaluates it, returning the calculated result. If the expression is invalid,
    the bot will return an error.
  </li>
  <li>
    <code>maze [action request/solve] [?id] [?direction]</code> - This command
    walks the user through a series of programming based challenge questions. To
    get a maze, pass <code>request</code> as the [action]. The bot will return a
    maze embed, which includes information about the maze and its id. To solve
    the maze, pass <code>solve</code> as the [action], with the maze [id] and
    the [answer]. The [answer] should be a null-space string of cardinal
    directions ("NEEESSWN"). The bot will respond with either correct or
    incorrect, and an explanation.
  </li>
  <li>
    <code>motivation</code> - This command returns a motivational quote to raise
    your spirits. Quotes are obtained from freeCodeCamp.
  </li>
  <li>
    <code>piglatin [string]</code> - This command takes a sentence as a
    space-delimited [string] and returns an embed containing the original
    sentence and the sentence translated into Pig Latin.
  </li>
  <li>
    <code>ping</code> - This command will generate the latency for the bot. The
    bot will send a response back with the communication time in milliseconds.
  </li>
  <li>
    <code>pokename[name]</code> - This command querys the Pokemon API. If the
    bot finds a Pokemon that matches the name provided, it will send an embed
    containing the Pokemon's name, number, and image. If the bot cannot find a
    Pokemon, it will send a message notice.
  </li>
  <li>
    <code>pokenum [number]</code> - This command querys the Pokemon API. If the
    bot finds a Pokemon that matches the number provided, it will send an embed
    containing the Pokemon's name, number, and image. If no Pokemon is found,
    the bot will send a message notice. As an alternative, sending "random"
    instead of a number will cause the bot to return a random Pokemon.
  </li>
  <li>
    <code>privacy</code> - This command provides information on the bot's
    privacy policy.
  </li>
  <li>
    <code>profile [?website] [?url] [?@username]</code> - This command uses the
    database to create and store social media profile cards for a user. Calling
    the command with no parameters will return your profile card. Calling the
    command with an [@username] mention will return that user's profile card.
    Calling the command with a [website] and [url] will add that link to your
    profile card under that website name. Calling the command with [website]
    "remove" will remove the [website] value from your profile card.
  </li>
  <li>
    <code>restrict [@username] [?reason]</code> This command requires that the
    user sending it has the "Kick Members" permission. If the permission is
    missing, the bot responds with a notice that the user lacks permission.
    Otherwise, the command will set the [@username]'s role provided in the
    <code>becca!config set role restricted [@role]</code> option, and remove all
    other roles. If the role option is not set, the bot will send a message to
    notify the user. If the
    <code>becca!config set channel logs [#channel]</code> option is not set, the
    bot will send a message to notify the user. Otherwise, the bot will send an
    embed to the log channel. The embed will contain the name of the user
    performing the command, the name of the restricted user, and the reason
    provided. If no reason was provided, the embed will state that. The bot will
    then create a channel under the <code>Appeals</code> category (if
    <code>Appeals</code> category does not exists, the bot will create one with
    the correct permissions), which only the channel moderators and the
    restricted user can access.
  </li>
  <li>
    <code>riddle [action (start/request/solve)] [?id] [?answer]</code> - This
    command walks the user through a series of programming based challenge
    questions. To begin a new challenge, pass <code>start</code> as the
    [action]. The bot will return a riddle embed, which includes the question
    and riddle id. To solve the riddle, pass <code>solve</code> as the [action],
    with the riddle [id] and the [answer]. The bot will respond with either
    correct or incorrect, and an explanation. If correct, the bot provides the
    [id] for the next riddle. To get that challenge, pass
    <code>request</code> as the [action] with the new [id].
  </li>
  <li>
    <code>role [@role]</code> - If the [@role] is in the server's
    <code>self_roles</code> list, this command will add or remove the role from
    the user.
  </li>
  <li>
    <code>roll d[number]</code> - This command returns a random number between 1
    and [number], as if it was a dice roll.
  </li>
  <li>
    <code>search [query]</code> - This command returns a URL to the Google
    search results page for the given [query] word or words.
  </li>
  <li>
    <code>server</code> - This command returns a message embed containing
    information about the current server. The information includes the server
    name, creation date, the user's join date, the server owner, member
    information, channel information, and role information.
  </li>
  <li>
    <code>space [?date (YYYY-MM-DD)]</code> - This command gets NASA's Space
    Photo of the day.
  </li>
  <li>
    <code>sponsor</code> - This command returns an embed with the development
    sponsorship/donation links.
  </li>
  <li>
    <code>star [@username] [?reason]</code> - This command sends a message embed
    to the [@username]'s direct messages. The embed contains the command
    author's name, the [reason] if provided, and a shiny gold star!
  </li>
  <li>
    <code>support</code> - This command will return an embed with a link to the
    support server and documentation page.
  </li>
  <li>
    <code>sus</code> - This command sends a message embed to the channel the
    user called the command in. The command will say that a certain color looks
    sus just like in Among Us Emergency Meetings.
  </li>
  <li>
    <code>title</code> - This command will generate a random and often funny
    title for the user who calls it.
  </li>
  <li>
    <code>trivia</code> - This command fetches a trivia question and returns an
    embed. The question is multiple choice, and the bot will listen for answers
    to the question. After 30 seconds, the bot will display the correct answer
    and announce any winners.
  </li>
  <li>
    <code>unrestrict [@username] [?reason]</code> - This command requires that
    the user sending it has the "Kick Members" permission. If the permission is
    missing, the bot responds with a notice that the user lacks permission.
    Otherwise, the command will remove the [@username]'s role provided in the
    <code>silence_role</code> option. If the role option is not set, the bot
    will send a message to notify the user. If the
    <code>becca!config set channel logs [#channel]</code> option is set, the bot
    will send an embed to that channel. The embed will contain the name of the
    user performing the command, the name of the unrestricted user, and the
    reason provided. If no reason was provided, the embed will state that.
  </li>
  <li>
    <code>uptime</code> - This command returns the amount of time the bot has
    currently been awake.
  </li>
  <li>
    <code>usage [command]</code> - This command returns a message embed for the
    [command]. The embed will contain the number of times the command is called
    globally and for the server this command is called in.
  </li>
  <li>
    <code>user [@username]</code> - This command returns a message embed about
    the message author. The embed contains their nickname, full username,
    account creation date, online status, date they joined the server, roles
    they have, and their avatar. Optionally pass a user mention as [@username]
    to retrieve an embed containing that user's information instead.
  </li>
  <li>
    <code>warn [@username] [?reason]</code> - This command requires that the
    user sending it has the "Kick Members" permission. If the permission is
    missing, the bot responds with a notice that the user lacks permission.
    Otherwise, the command will send a direct message to [@username] informing
    them that the command author has warned them, and providing the reason if
    given. If the <code>becca!config set channel logs [#channel]</code> option
    is set, the bot will send an embed to that channel. The embed will contain
    the name of the user performing the warning, the name of the warned user,
    and the reason provided. If no reason was provided, the embed will state
    that.
  </li>
  <li>
    <code>wiki [query]</code> - This command returns a link to the wikipedia
    article for [query]. If the article is not found, it returns the search page
    instead.
  </li>
  <li>
    <code>xkcd [?number]</code> - This command returns an embed containing
    today's XKCD comic. Optionally pass a comic [number] to get that specific
    comic instead.
  </li>
</ul>
