<h1>
  <a routerLink="/welcome">Becca Lyria Documentation</a>
</h1>
<p class="version">Version {{ version }}</p>
<hr />
<p><a routerLink="/local">Create a Local Instance</a></p>
<p><a routerLink="/setup">Set up the Code</a></p>
<p><a routerLink="/deploy">Deploy the Code</a></p>
<p><a routerLink="/config">Configure Your Server</a></p>
<p><a routerLink="/auto-cmd">Automatic Commands</a></p>
<p><a routerLink="/manual-cmd">Manual Commands</a></p>
<p><a routerLink="/dep-cmd">Deprecated Commands</a></p>
<p><a routerLink="/contribute">Contribute to Becca Lyria</a></p>
<p><a routerLink="/new-cmd">Create a New Command</a></p>
<p><a routerLink="/trouble">Troubleshooting</a></p>
<p><a routerLink="/privacy">Privacy Policy</a></p>
<hr />
<p>&copy; 2020 - Nicholas Carrigan</p>
<p>
  <a
    id="art-credit"
    href="https://www.instagram.com/moonlightkcreations/"
    target="_blank"
    rel="noopener noreferrer"
    >Webpage art by Moonlight</a
  >
</p>
<p>
  <a routerLink="/bio">About Becca Lyria</a>
</p>
<p>
  <a routerLink="/art">View Becca's Art</a>
</p>
<p><a routerLink="/art-contribs">Create Art for Becca</a></p>
<hr />
<a href="https://rosalianightsong.nhcarrigan.com">View Rosalia's Page</a>
