<h1>Welcome!</h1>
<p>
  This is the documentation for Becca Lyria. A live version of her can be
  found in our
  <a href="https://discord.gg/PHqDbkg" target="_blank" rel="noopener noreferrer"
    >Discord Server</a
  >.
  Here you will find instructions for setting up a local version of Becca,
  contributing to her development, adding her to your Discord server,
  and using her commands.
</p>
<p>
  As Becca is always considered a work in progress, these documents will be
  updated alongside new versions. Should there be a discrepancy
  between the two, feel free to let us know with an issue request on GitHub!
</p>
<p>
  You may navigate to the different sections of this documentation using the
  sidebar on the left, or through the buttons at the bottom of each page. If you
  are on mobile, the sidebar will be hidden to allow for sufficient reading
  space for the page content.
</p>
<a class="page-btn" routerLink="/local">Next Page</a>
