<h1>Welcome!</h1>
<p>
  This is the documentation for Becca Lyria. A live version of the bot can be
  found in our
  <a href="https://discord.gg/PHqDbkg" target="_blank" rel="noopener noreferrer"
    >Discord Server</a
  >
  Here you will find instructions for setting up a local version of the bot,
  contributing to the bot's development, adding the bot to your Discord server,
  and using the bot's commands.
</p>
<p>
  As the bot is always considered a work in progress, these documents will be
  updated alongside new versions of the bot. Should there be a discrepancy
  between the two, feel free to let us know with an issue request on GitHub!
</p>
