<h1>Troubleshooting</h1>

<h2>Becca won't connect!</h2>
<p>
  Make sure you have properly set up the <code>.env</code> file to contain a
  <code>DISCORD_TOKEN</code> variable set to your token.
</p>
<h2>I can't get Becca in my server</h2>
<p>
  Make sure you are generating the invite link correctly, and that you have
  "Manage Server" permissions for the server you are trying to add Becca to.
</p>
<h2>Becca isn't responding to a command!</h2>
<p>
  Make sure Becca has the appropriate permissions in the server. To verify if
  a permission error exists, try granting her the Administrator permission.
  If the command starts working, then your permissions are mis-configured.
</p>
<h2>Other Issues?</h2>
<p>
  If you are having another issue, you can create a
  <a
    href="https://github.com/nhcarrigan/Becca-Lyria"
    target="_blank"
    rel="noopener noreferrer"
    >bug report</a
  >
  or
  <a href="https://discord.gg/PHqDbkg" target="_blank" rel="noopener noreferrer"
    >in our Discord server</a
  >.
</p>
<a class="page-btn" routerLink="/new-cmd">Prev Page</a>
<a class="page-btn" routerLink="/privacy">Next Page</a>
