<h1>Known Issues</h1>


  <h2>My bot won't connect!</h2>
  <p>
    Make sure you have properly set up the <code>.env</code> file to
    contain a <code>DISCORD_TOKEN</code> variable set to your bot's
    token.
  </p>
  <h2>I can't get my bot in my server</h2>
  <p>
    Make sure you are generating the invite link correctly, and that you
    have "Manage Server" permissions for the server you are trying to
    add the bot to.
  </p>
  <h2>My bot isn't doing a certain command!</h2>
  <p>
    Make sure your bot has the appropriate permissions in the server.
    For best results, set the bot to an Administrator.
  </p>
  <h2>Other Issues?</h2>
  <p>
    If you are having another issue, you can create a
    <a
      href="https://github.com/nhcarrigan/Becca-Lyria"
      target="_blank"
      rel="noopener noreferrer"
      >bug report</a
    >
    or
    <a
      href="https://contact.nhcarrigan.com"
      target="_blank"
      rel="noopener noreferrer"
      >contact me directly</a
    >.
  </p>
