<h1>Contributing Art for Becca</h1>
<p>
  Becca's <code>art</code> command returns a random image of Becca provided
  by a generous contributor. If you are interested in providing art, please
  follow these instructions!
</p>
<h2>Uploading your Image</h2>
<p>This step is required.</p>
<p>
  First, upload the image to the documentation repository. The file should go in
  the
  <code>./src/assets/img/art`</code> folder. Name your file
  <code>yourname#.ext</code>, where "yourname" is your name or username, # is
  the number of art pieces you have contributed (so if this is your first, use
  1), and "ext" is the file extension.
</p>
<h2>Displaying the Image on the Site</h2>
<p>
  This step is optional - if you are not comfortable with the code, we can
  handle this part after your image is submitted.
</p>
<p>
  Next, within the documentation repository, head to the file located at
  <code>./src/assets/data/artList.ts</code>. Here you will add the code to
  display your art on the art page. Add this code at the bottom of the file,
  <em>just before</em> the closing <code>]</code> symbol:
</p>
<pre><code>{{ '{' }}
  file_name: "The file name from above.",
  art_name: "The name of your art piece.",
  artist: "Your name or username.",
  artist_url: "Your homepage link.",
{{ '}' }},
</code></pre>
<p>
  Then head to Becca's code and find the file located at
  <code>./src/utils/commands/artList.ts</code>. This is where you will add your
  art to her command. At the bottom of the file, <em>just before</em> the
  closing <code>]</code> symbol, add the following code:
</p>
<pre><code>{{ '{' }}
  file_name: "The file name from above.",
  art_name: "The name of your art piece.",
  artist: "Your name or username.",
  artist_url: "Your homepage link.",
{{ '}' }},
</code></pre>
<p>
  Be sure to replace the values with the correct information. Once this is done,
  you should submit a pull request as documented in
  <a routerLink="/contribute">the contributing instructions</a>.
</p>
<h2>Questions?</h2>
<p>
  If you have questions, get stuck, or would rather just send us the art directly,
  you may contact us at our
  <a href="http://chat.nhcarrigan.com" target="_blank" rel="noopener noreferrer"
    >Discord Server</a
  >
  and we will be more than happy to assist!
</p>
