<h1>Deprecated Features</h1>
<ul>
  <li>
    <code>purge</code> command (<em>deprecated in 6.9.1</em>) - removed
    due to Discord API limitations on the age at which messages could no
    longer be bulk deleted.
  </li>
  <li>
    <code>inulove</code> (<em>deprecated in 6.10.2</em>) - removed as
    incomplete, not used enough to warrant completion.
  </li>
  <li>
    <code>inuquote</code> (<em>deprecated in 6.10.2</em>) - removed as
    incomplete, not used enough to warrant completion. quote.
  </li>
  <li>
    <code>optout</code> (<em>deprecated in 7.0.8</em>) - Removed as
    unused, unneeded for GDPR compliance.
  </li>
  <li>
    <code>block</code> (<em>deprecated in 7.1.0</em>) - Removed as
    blocking users became server-specific.
  </li>
</ul>
