<h1>Privacy Policy</h1>
<div class="trouble-container">
  <p>
    The use of this application ("Becca") in a server requires the collection of
    some specific user data ("Data"). The Data collected includes, but is not
    limited to, user names, user nicknames, and Discord user ID values. Use of
    Becca is considered an agreement to the terms of this Policy.
  </p>
  <h2 id="access-to-data">Access to Data</h2>
  <p>
    Access to Data is only permitted to Becca's developers, and only in the
    scope required for the development, testing, and implementation of features
    for Becca. Data is not sold, provided to, or shared with any third party,
    except where required by law or a Terms of Service agreement. You can view
    the data upon request from @nhcarrigan.
  </p>
  <h2 id="storage-of-data">Storage of Data</h2>
  <p>
    Data is stored in a MongoDB database. The database is secured to prevent
    external access, however no guarantee is provided and Becca's owners assume
    no liability for the unintentional or malicious breach of Data. In the event
    of an unauthorised Data access, users will be notified through the Discord
    client application.
  </p>
  <h2 id="on-server-leave">On Server Leave</h2>
  <p>
    When Becca leaves a Discord server, the data related to that server is
    deleted. This deleted data includes, but is not limited to:
  </p>
  <ul>
    <li>Command Usage Logs for that server.</li>
    <li>Custom <code>config</code> settings for that server.</li>
    <li>User data associated with that server (e.g. level data)</li>
  </ul>
  <h2 id="user-rights">User Rights</h2>
  <p>
    At any time, you have the right to request to view the Data pertaining to
    your Discord account. You may submit a request through the Discord server.
    You have the right to request the removal of relevant Data.
  </p>
  <h2 id="underage-users">Underage Users</h2>
  <p>
    The use of Becca is not permitted for minors under the age of 13, or under
    the age of legal consent for their country. This is in compliance with the
    Discord Terms of Service. No information will be knowingly stored from an
    underage user. If it is found out that a user is underage we will take all
    necessary action to delete the stored data.
  </p>
  <h2 id="questions">Questions</h2>
  <p>
    If you have any questions or are concerned about what data might be being
    stored from your account contact @nhcarrigan. For more information check the
    Discord Terms Of Service.
  </p>
</div>
<a class="page-btn" routerLink="/trouble">Prev Page</a>
