<h1>Contributing to Becca</h1>
<p>
  Are you interested in contributing to this project? We are very excited to
  receive issues and pull requests, and welcome contributions from all users.
</p>
<h2>Reporting Bugs and Requesting Features</h2>
<P
  >We accept bug reports and feature requests from all contributors. Please
  follow the instructions below for our workflow.</P
>
<h3>Feature Requests</h3>
<p>
  Do you have a feature you would like to see added to Becca? Create a
  <a
    href="https://github.com/nhcarrigan/Becca-Lyria/issues/new/choose"
    target="_blank"
    rel="noopener noreferrer"
    >new issue</a
  >
  using the "Feature Request" template and we will get started on it as soon as
  we are able.
</p>
<h3>Found A Bug</h3>
<p>
  Did you discover a bug when interacting with Becca? Unfortunately, despite
  our best efforts we are still not quite perfect. You can submit a
  <a
    href="https://github.com/nhcarrigan/Becca-Lyria/issues/new/choose"
    target="_blank"
    rel="noopener noreferrer"
    >new issue</a
  >
  using the "Bug Report" template and we will address it as soon as possible.
</p>
<h2>Creating a PR</h2>
<p>
  If you have an idea for a new feature or fix, you are more than welcome to
  create a pull request on the GitHub repository. The GitHub repository runs a
  couple of checks on all code submissions:
</p>
<ul>
  <li>
    <code>Node CI</code> - A GitHub action will check for linter errors in the
    code.
  </li>
  <li>
    <code>LGTM</code> - LGTM will verify that there are no errors or security
    concerns with the code.
  </li>
  <li>
    <code>CodeQL</code> - CodeQL will confirm that the code doesn't have any
    quality concerns or errors.
  </li>
</ul>
<p>
  Additionally, the <code>husky</code> package will run the lint and tests prior
  to each <code>git commit</code> command, which will help catch errors prior to
  the opening of a PR. To run these checks manually, the
  <code>npm run lint</code> command will lint the code, and the
  <code>npm run test</code> command will run the tests.
</p>
<h2>Other Contributions</h2>
<p>
  If you are not comfortable with working on the codebase, there are still other
  ways you can contribute! You can:
</p>
<ul>
  <li>Help test features</li>
  <li>Help propose new features</li>
  <li>Keep this documentation page up to date!</li>
</ul>
<a class="page-btn" routerLink="/dep-cmd">Prev Page</a>
<a class="page-btn" routerLink="/new-cmd">Next Page</a>
